
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <div
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <div class="input-group">
        @if( message ) {
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
        }
    </div>
</div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle"
                    src="assets/images/meme.jpg">
            </a>
        </li>
    </ul>
</nav>